extends layout

block content
  h1= title

  div.row
    div.col
      div(class="card m-2")
        div.card-body
          div.container
            div.row
              - if (device.description)
                dt.col-lg-3 Description: 
                dd.col-lg-9 #{device.description}
            div.row
              - if (device.category)
                dt.col-lg-3 Category: 
                dd.col-lg-9
                  code #{device.category.vocab}
            div.row
              - if (device.controlledProperty)
                dt.col-lg-3 Controlled Property: 
                dd.col-lg-9 #{device.controlledProperty}
            div.row
              - if (device.controlledAsset)
                dt.col-lg-3 ControlledAsset: 
                dd.col-lg-9
                  - if (device.controlledAsset.includes('AgriParcel'))
                      a(class="link-underline link-underline-opacity-0" href=`/app/agriparcel/${device.controlledAsset}`) #{device.controlledAsset}
                  - if (device.controlledAsset.includes('Animal'))
                      a(class="link-underline link-underline-opacity-0" href=`/app/animal/${device.controlledAsset}`) #{device.controlledAsset}
                  - if (device.controlledAsset.includes('Building'))
                      a(class="link-underline link-underline-opacity-0" href=`/app/building/${device.controlledAsset}`) #{device.controlledAsset}
            div.row
              - if (device.batteryLevel)
                dt.col-lg-3 Battery Level: 
                dd.col-lg-9 #{device.batteryLevel}
            div.row
              - if (device.supportedProtocol)
                dt.col-lg-3 Protocol: 
                dd.col-lg-9 #{device.supportedProtocol}
            div.row
              - if (device.deviceModel)
                dt.col-lg-3 Description: 
                dd.col-lg-9 #{device.deviceModel}
            div.row
              - if (device.location)
                dt.col-lg-3 Location: 
                dd.col-lg-9 #{device.location.coordinates[1]}&deg;N, #{device.location.coordinates[0]}&deg;E

            div.row
              - if (device.status)
                dt.col-lg-3 Status: 
                dd.col-lg-9 #{device.status}

  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(device, null, 4)}