extends layout

block content
  h1
    | #{animal.name} - 
    - if (animal.id)
      small
        code(style="text-transform:initial")
          strong
            | #{animal.id}
 
  div.row
    div.col
      div(class="card m-2")
        div.card-body
          div.container
            div.row
              - if (animal.species == 'dairy cattle')
                div.col-lg-3
                  img.img-thumbnail(src=`/img/cow-${imgId}.jpg` width="256px" height="256px") 
              div.col-lg-9
                dl.row
                  - if (animal.species)
                    dt.col-lg-3 Species: 
                    dd.col-lg-9 #{animal.species}
                  - if (animal.legalId||animal.legalID)
                    dt.col-lg-3 Legal ID: 
                    dd.col-lg-9
                      code #{animal.legalId||animal.legalID}
                  - if (animal.phenologicalCondition)
                    dt.col-lg-3 Phenological
                      br 
                      | Condition: 
                    dd.col-lg-3 #{animal.phenologicalCondition.vocab||animal.phenologicalCondition}
                  - if (animal.reproductiveCondition)
                    dt.col-lg-3 Reproductive
                      br
                      | Condition: 
                    dd.col-lg-3 #{animal.reproductiveCondition.vocab||animal.reproductiveCondition}
                  - if (animal.healthCondition)
                    dt.col-lg-3 Health: 
                    dd.col-lg-9 #{animal.healthCondition.vocab||animal.healthCondition}
                  - if (animal.sex)
                    dt.col-lg-3 Sex: 
                    dd.col-lg-3 #{animal.sex.vocab||animal.sex}
                    dt.col-lg-3 Date of Birth: 
                    dd.col-lg-3 #{animal.birthdate ? animal.birthdate.substring(0,10) : 'unknown'}
                  - if (animal.fedWith)
                    dt.col-lg-3 Fed With: 
                    dd.col-lg-3 #{animal.fedWith}
                    - if (animal.weight)
                      dt.col-lg-3 Weight
                      dd.col-lg-3
                        | #{animal.weight.value} kgs
                  - if (animal.calvedBy)
                    dt.col-lg-3 Calved by:
                    dd.col-lg-9
                      a(class="link-underline link-underline-opacity-0" href=`/app/animal/${animal.calvedBy.object}`) #{animal.calvedBy.object}
                  - if (animal.siredBy)
                    dt.col-lg-3 Sired by:
                    dd.col-lg-9
                      a(class="link-underline link-underline-opacity-0" href=`/app/animal/${animal.siredBy.object}`) #{animal.siredBy.object}
                  
                  - if (animal.heartRate)
                    div.col-lg-6
                    dt.col-lg-3 Heart Rate
                    dd.col-lg-3
                      | #{animal.heartRate.value} bpm
                  - if (animal.locatedAt)
                    dt.col-lg-3 Located At:
                    - if (animal.location)
                        dd.col-lg-3 
                          a(class="link-underline link-underline-opacity-0" href=`/app/agriparcel/${animal.locatedAt.object}`) #{animal.locatedAt.object}
                    - else
                        dd.col-lg-9 
                          a(class="link-underline link-underline-opacity-0" href=`/app/agriparcel/${animal.locatedAt.object}`) #{animal.locatedAt.object}
                  - if (animal.location && animal.location.value.coordinates)
                    dt.col-lg-3 Current Location: 
                    dd.col-lg-3 
                      | #{animal.location.value.coordinates[1]}&deg;N, #{animal.location.value.coordinates[0]}&deg;E
                  - if (animal.ownedBy)
                    dt.col-lg-3 Owned By: 
                    dd.col-lg-9 
                      a(class="link-underline link-underline-opacity-0" href=`/app/agriparcel/${animal.ownedBy.object}`) #{animal.ownedBy.object}

  - if (animal.comment)
    div.row
      div.col
        div(class="card m-2")
          div.card-body
            h3 Comment
            pre 
              | #{animal.comment.value}
  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre 
                code #{JSON.stringify(animal, null, 4)}
