extends layout

block content
  h1
    | #{animal.name} - 
    - if (animal.id)
      small
        code(style="text-transform:initial")
          strong
            | #{animal.id}
 
  div.row
    div.col
      div(class="card m-2")
        div.card-body
          div.container
            div.row
              - if (animal.species == 'dairy cattle')
                div.col-lg-3
                  img.img-thumbnail(src=`/img/cow-${imgId}.jpg` width="256px" height="256px") 
              div.col-lg-9
                dl.row
                  - if (animal.species)
                    dt.col-lg-3 Species: 
                    dd.col-lg-9 #{animal.species}
                  - if (animal.sex)
                    dt.col-lg-3 Sex: 
                    dd.col-lg-9 #{animal.sex.vocab||animal.sex}
                  - if (animal.legalId||animal.legalID)
                    dt.col-lg-3 Legal ID: 
                    dd.col-lg-9
                      code #{animal.legalId||animal.legalID}
                  - if (animal.phenologicalCondition)
                    dt.col-lg-3 Phenological Condition: 
                    dd.col-lg-9 #{animal.phenologicalCondition.vocab||animal.phenologicalCondition}
                  - if (animal.healthCondition)
                    dt.col-lg-3 Health: 
                    dd.col-lg-9 #{animal.healthCondition.vocab||animal.healthCondition}
                  - if (animal.reproductiveCondition)
                    dt.col-lg-3 Reproductive Condition: 
                    dd.col-lg-9 #{animal.reproductiveCondition.vocab||animal.reproductiveCondition}
                  - if (animal.calvedBy)
                    dt.col-lg-3 Calved by:
                    dd.col-lg-9
                      a(class="link-underline link-underline-opacity-0" href=`/app/animal/${animal.calvedBy.object}`) #{animal.calvedBy.object}
                  - if (animal.siredBy)
                    dt.col-lg-3 Sired by:
                    dd.col-lg-9
                      a(class="link-underline link-underline-opacity-0" href=`/app/animal/${animal.siredBy.object}`) #{animal.siredBy.object}

  - if (animal.comment)
    div.row
      div.col
        div(class="card m-2")
          div.card-body
            h3 Comment
            pre 
              | #{animal.comment.value}
  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(animal, null, 4)}
