extends layout

block content
  h1= title 

  div.row
    - if (building.hasStockPrice)
      div.col
        div(class="card m-2")
          div.card-body
            div.container
              div.row
             
                dt.col-lg-3 Action: 
                dd.col-lg-9
                  ul
                    each item in building.hasStockPrice.object
                      li
                        a(class="link-underline link-underline-opacity-0" href=`/app/soil/${item}`) #{item}
    - if (building.aPrixActione)
      div.col
        div(class="card m-2")
          div.card-body
            div.container
              div.row
             
                dt.col-lg-3 Action: 
                dd.col-lg-9
                  ul
                    each item in building.aPrixActione.object
                      li
                        a(class="link-underline link-underline-opacity-0" href=`/app/soil/${item}`) #{item}
 
  - if (building.location)
    div.col-lg
      div(class="card m-2")
        div.card-body
          dl.row
              dt.col-lg-3 Location: 
              dd.col-lg-9 #{building.location.value.coordinates[1]}&deg; nord, #{Math.abs(building.location.value.coordinates[0])}&deg; ouest

  - if (building.population && building.population.value)
    div.col-lg
      div(class="card m-2")
        div.card-body
          dl.row
            dt.col-lg-3 Population: 
            dd.col-lg-9 #{new Intl.NumberFormat().format(building.population.value)} personnes
              br
              code (#{(new Date(building.population.observedAt).getUTCFullYear())} recensement)
           
  
  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(building, null, 4)}
