extends layout

include product

block content

  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')

  h1= title
  div
    div(class="card" style="float:left; background: #efefef;")
      img(src=`${building.mapUrl}`)
      small(style="display: inherit")
        a(href="https://www.openstreetmap.org/copyright")
          | © OpenStreetMap contributors
    div(style="float:left; padding:20px; border:none;")
      address
        | #{building.address.streetAddress} #[br]
        | #{building.address.addressLocality} #[br]
        | #{building.address.postalCode} #[br]
        | #{building.address.addressRegion} #[br]

  div(style="clear:both")
  div
    ul
      li location: #{building.location.coordinates}
      li category: #{building.category}
      li owner: #{building.owner}

    form(action="/device/command" method="POST" class="card" style="width: 30rem;margin:20px")
      h3 Feedstock levels
      p Add, remove or refill the hay in the barn.
      div(style="background-repeat: no-repeat;background-image: url('/img/warehouse-full.svg')") &nbsp;&nbsp;
        code(style="margin-left: 1em;")
          span.device(id=`filling${building.id.replace(/\D/g,'')}`) &nbsp;
      p
      input(type="text" style="display:none"  name="id" value=`${building.id.replace(/\D/g,'')}`)
      input(type="submit" style="margin:0px 2px;" value="refill" name="action" class="button") 
      input(type="submit" style="margin:0px 2px;" value="add" name="action" class="button") 
      input(type="submit" style="margin:0px 2px;" value="remove" name="action" class="button") 

    form(action="/device/command" method="POST" class="card" style="width: 30rem;margin:20px")
      h3 Thermostat
      p Raise or lower the desired temperature of the barn.
      div(style="background-repeat: no-repeat;background-image: url('/img/temperature.svg')") &nbsp;&nbsp;
        code(style="margin-left: 1em;")
          span.device(id=`temperature${building.id.replace(/\D/g,'')}`) 25
      p
      input(type="text" style="display:none"  name="id" value=`${building.id.replace(/\D/g,'')}`)
      input(type="submit" style="margin:0px 2px;" value="raise" name="action" class="button") 
      input(type="submit" style="margin:0px 2px;" value="lower" name="action" class="button") 

    form(action="/device/command" method="POST" class="card" style="width: 30rem;margin:20px")
      h3 Current Weather Conditions: 
        span(id="weather") cloudy
      p Alter the current weather
      p
      input(type="text" style="display:none"  name="id" value="weather")
      input(type="submit" style="margin:0px 2px;" value="sunny" name="action" class="button") 
      input(type="submit" style="margin:0px 2px;" value="raining" name="action" class="button")
      input(type="submit" style="margin:0px 2px;" value="cloudy" name="action" class="button") 

  script.
    $(function () {
      const socket = io();
      socket.on('weather', function (msg) {
         $('#weather').text(msg);
         $('#weathericon').css('background-image', "url('/img/" + msg + ".svg')");
      });
      $('span.device').each(function (index, value) {
        const device = $(this).attr('id');
        socket.on(device, function (msg) {
          $('#' + device).text(msg);
          let measure;
          const li = $('#' + device).parent().parent();
          switch (device.replace(/\d/g, '')) {
              case 'temperature':
                  measure = parseFloat(msg.replace(/[^(\d.)]/g, ''));
                  if (measure > 28) {
                      li.css('background-image', "url('/img/temperature-high.svg')");
                  } else if (measure < 23) {
                      li.css('background-image', "url('/img/temperature-low.svg')");
                  } else {
                      li.css('background-image', "url('/img/temperature.svg')");
                  }
                  break;

              case 'filling':
                  measure = Math.round(parseFloat(msg.replace(/[^(\d.)]/g, '')) * 10);
                  if (measure >= 10) {
                      li.css('background-image', "url('/img/warehouse-full.svg')");
                  } else if (measure === 0) {
                      li.css('background-image', "url('/img/warehouse-empty.svg')");
                  } else {
                      li.css('background-image', "url('/img/warehouse-" + measure + ".svg')");
                  }
                  break;
               }
            }); 
        });
      });

//-    div(style="float: left; padding:0px 20px 20px 20px; border: none;")
      iframe(width='560', height='270', src=`/app/building/${building.id}/till`, frameborder='0')
    div(style="clear: both;")
    div(style="padding:5px 20px 20px 20px; border:none;")
      - if (building.tweets)
        h3 Tweets:
        ul
          each item in building.tweets
            li= item
      - if (building.temperature)
        p 
          b Temperature:&nbsp;
          | #{building.temperature}
      - if (building.relativeHumidity)
        p 
          b Humidity:&nbsp;
          | #{building.relativeHumidity}
      - if (building.luminosity)
        p 
          b Luminosity:&nbsp;
          | #{!isNaN(building.luminosity) ? building.luminosity : 'Unknown'}
    div(style="float: left; padding:5px 20px 20px 20px; border: none;")
      iframe(width='560', height='315', src=`/app/building/${building.id}/warehouse`, frameborder='0')