extends layout

block content
  h1= title

  div.row
    div.col
      div(class="card m-2")
        div.card-body
          div.container
            div.row
               - if (building.hasStockPrice)
                dt.col-lg-3 Stocks: 
                dd.col-lg-9
                  ul
                    each item in building.hasStockPrice
                      li
                        a(class="link-underline link-underline-opacity-0" href=`/app/soil/${item}`) #{item}
 
  div.col-lg
    div(class="card m-2")
      div.card-body
        dl.row
          - if (building.location)
            dt.col-lg-3 Location: 
            dd.col-lg-9 #{building.location.coordinates[1]}&deg;N, #{building.location.coordinates[0]}&deg;E
           
  
  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(building, null, 4)}
