extends layout

block content

  script(src='https://code.jquery.com/jquery-1.11.1.js')

  h1= title

  - if (claims.length)
    div
      h2 Verifiable Credential
    div(class="row p-4")
      div(class="col card p-2")
        div.row
          div.col-4
            div(class="card p-2 bg-primary-subtle h-100")
              p 
                strong Claim:
              select#claim 
                option Select a claim
                each claim in claims
                  option(data-claim=`${claim.path}` data-by=`${claim.issuedBy}` data-for=`${claim.issuedFor}` data-subject=`${claim.subject}` data-issuer=`${claim.issuer}` data-type=`${claim.type}`)  #{claim.name}
                  | &nbsp;
          div.col-8 
            div(class="card p-2")
              p 
                strong VC Issuer:
                | &nbsp;
                span#claim-by 
                br
                code#issuer 
              p 
                strong VC Subject:
                | &nbsp;
                span#claim-for 
                br
                code#subject 
              p
                strong Not Before:
                | &nbsp;
                input#datepicker(type="date" value=`${date}`)
                br  
                code#not-before #{unixtime}
          div.row
            div.col
               br
               p 
                strong Verifiable Credential Payload:
          div.row
            div.col
              div(class="card p-2")
                pre
                  code#payload 
          div.row
            div.col
              | &nbsp;
          form.credential(action="/vc/generate" method="POST")
            input(type="hidden" id="claim-type" name="claimType" value="")
            input(type="hidden" id="iss" name="iss" value="")
            input(type="hidden" id="sub" name="sub" value="")
            input(type="hidden" id="nbf" name="nbf" value=`${unixtime}`)
            input(type="hidden" id="vc" name="vc" value="")
            input(type="submit" value=`Generate VC` class="btn btn-primary  btn-sm")

        
    div(class="row p-2")
      div.col
        div(class="card p-2 bg-primary-subtle")
          p 
            strong Signed Verifiable Credential:
            br
            small Encoded JWT
          div.row
            div.col
              div(class="card p-2")
                pre
                  code#credential(style="word-break: break-all")
          div.row
            div.col
              | &nbsp;
              
              form.addJWT(action="/vp/add-credential" method="POST")
                input(type="hidden" id="jwt" name="jwt" value="")
                input(type="submit" id="vcType" value=`Add VC to Presentation` class="btn btn-primary  btn-sm")

    - if (issuers.length)
      div
        h3 Verifiable Presentation
      
      div(class="row p-2")
        div.col-3
          div(class="card p-2 bg-primary-subtle h-100 ")
            p 
              strong Issuer:
            select#presentation-issuer 
              option Select an issuer
              each issuer in issuers
                option(data-issuer=`${issuer.issuer}`)  #{issuer.name}
                | &nbsp;
        div.col-9
          div(class="card p-2 h-100")
            p 
              strong VP Issuer
              | &nbsp;
              span#presented-by 
              br
              code#wallet-holder

      div(class="row p-2")
        div.col
          div(class="card p-2")
            p 
              strong Verifiable Presentation Payload:

            div.row
              div.col
                div(class="card p-2")
                  pre
                    code#presentation(style="word-break: break-all") 
            div.row
              div.col
                | &nbsp;
                form.presentation(action="/vp/generate" method="POST")
                  input(type="hidden" id="presentationPayload" name="payload" value="")
                  input(type="hidden" id="presentationIssuer" name="iss" value="")
                  input(type="submit" value=`Generate Presentation` class="btn btn-primary  btn-sm")

      div(class="row p-2")
        div.col
          div(class="card p-2 bg-primary-subtle")
            p 
              strong Signed Verifiable Presentation:
              br
              small Encoded JWT
            div.row
              div.col
                div(class="card p-2")
                  pre
                    code#presentationJWT(style="word-break: break-all") 
            div.row
              div.col
                | &nbsp;
                form.verify(action="/vp/verify" method="POST")
                  input(type="hidden" id="encodedPresentation" name="jwt" value="")
                  input(type="submit" value=`Validate Presentation` class="btn btn-primary  btn-sm")

      div(class="row p-2")
        div.col
          div(class="card p-2")
            p 
              strong Decoded Verified Presentation:
            div.row
              div.col
                div(class="card p-2")
                  pre
                    code#decodedPresentation(style="word-break: break-all") 

    script(src='/js/credentials.js')
