extends layout

block content
  - if (title)
    h1= title
  - if (success)
    .message.success
      each item in success
        div!= item
  - if (errors)
    .message.errors
      each item in errors
        div!= item
  - if (info)
    .message.info
      each item in info
        div!= item

  div.row
    div.col
      h3 Cities
  div.row
    div.col
      div.card
        div.card-body

          - if (!cities)
            p None Found
          - else 
            ul.list-unstyled  
              each building in cities
                li.list-item
                  - if (securityEnabled)
                    a(class="link-danger link-underline link-underline-opacity-0" href=`app/building/${building.id}?local=true`) 
                      img(class="p-2" src='/img/barn.png' width="32" height="32")
                      | #{building.name}
                  - else
                    a(class="link-underline link-underline-opacity-0" href=`app/building/${building.id}?local=true`)
                      img(class="p-2" src='/img/barn.png' width="32" height="32")
                      | #{building.name}

  div.row
    div.col
      h3 Products
  div.row
    div.col
      div.card
        div.card-body

          - if (!cities)
            p None Found
          - else 
            ul.list-unstyled  
              each building in products
                li.list-item
                    a(class="link-underline link-underline-opacity-0" href=`app/pest/${encodeURI(building.id)}`)
                      img(class="p-2" src='/img/barn.png' width="32" height="32")
                      | #{building.name}