extends layout

block content
  h1= title

  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
  script(src='https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.min.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')


  div.row
    div.col
      div(class="card m-2")
        div.card-body
          div.container
            div.row
              - if (soil.description)
                dt.col-lg-3 Description: 
                dd.col-lg-9 #{soil.description}
            div.row
              - if (soil.price)
                dt.col-lg-3 Prix: 
                dd.col-lg-9
                  code #{soil.price} CFA




  div()
    div(style="float: left;")
      h2 Prix Historique
      canvas(id="barChart" width="800px" height="400px")
    div(style="clear: both;")

  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(timeseries, null, 4)}


  div.row
    div.col
      div(class="card m-2")
        div.card-body
          summary.list-unstyled
            details
              pre #{JSON.stringify(soil, null, 4)}


  script(type='text/javascript').
    var sumMotionData =!{JSON.stringify(chartData)}
    
    var ctx = document.getElementById("barChart");

    var barChart = new Chart(ctx, {
        "type": "bar",
        "data": {
            "labels": sumMotionData.labels,
            "datasets": [{
                "label": "CFA",
                "data": sumMotionData.data,
                "backgroundColor": sumMotionData.color
            }]
        },
        "options": {
            "responsive": false,
            "scales": {
                "xAxes": [{
                  "ticks": {
                    "source": "labels"
                  }
                }],
                "yAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
    });

    var chart = new Chart(ctx, cfg);